.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.search {
  float: right;
  padding: 14px 16px;
}

.active {
  background-color: #4CAF50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;;
}
h1 {
  text-align: center;
  color: #333333;}

p {
  font-size: 25px;
  line-height: 1.5;
  margin: 20px;
  color: #666666;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  color: #6699CC;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #BDBDBD;
}

aside {
  background-color: #b9b7b7;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  float: right;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.image-gap {
  margin-right: 200px;
  margin-bottom: 20px;

}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  float: left;
  min-height: 100vh;
  justify-content: space-between;
}

body {
  background-color: #f1f1f1;
}

p {
  color: #000000;
}